.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main_section_cards_wrapper {
  flex-wrap: wrap;
  gap: 0.5rem;
}

@media all and (min-width: 1100px) {
  .main_section_cards_wrapper {
    flex-wrap: nowrap;
    margin: 0.5rem;
  }
}
